name: Tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      - name: Run tests
        run: ./tests/run.sh
